{{#if (eq config.component componentTypes.input)}}
<g-input
  v-model="{{ getPath path virtualPath }}"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.number)}}
<g-input-number
  v-model="{{ getPath path virtualPath }}"
  {{#unless config.InfiniteMin}}
  :min="{{config.min}}"
  {{/unless}}
  {{#unless config.InfiniteMax}}
  :max="{{config.max}}"
  {{/unless}}
  :step="{{config.step}}"
  {{#if config.suffix}}
  suffix="{{config.suffix}}"
  {{/if}}
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.color)}}
<g-color-picker
  v-model="{{ getPath path virtualPath }}"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.checkbox)}}
<el-checkbox
  v-model="{{ getPath path virtualPath }}"
/>
{{else if (eq config.component componentTypes.switch)}}
<el-switch
  v-model="{{ getPath path virtualPath }}"
/>
{{else if (eq config.component componentTypes.radio)}}
<el-radio-group
  v-model="{{ getPath path virtualPath }}"
>
  <el-radio-button
    v-for="em in {{{ enumsToTpl config.enums }}}"
    :key="em"
    :label="em"
  >
    \{{ em }}
  </el-radio-button>
</el-radio-group>
{{else if (eq config.component componentTypes.slider)}}
<g-slider
  v-model="{{ getPath path virtualPath }}"
  {{#unless config.InfiniteMin}}
  :min="{{config.min}}"
  {{/unless}}
  {{#unless config.InfiniteMax}}
  :max="{{config.max}}"
  {{/unless}}
  :step="{{config.step}}"
  {{#if config.suffix}}
  suffix="{{config.suffix}}"
  {{/if}}
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.select)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="[]"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
  disabled
/>
{{else if (eq config.component componentTypes.fontFamily)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="fontFamilys"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.fontWeight)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="fontWeights"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.fontStyle)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="fontStyles"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.hAlign)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="hAligns"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.vAlign)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="vAligns"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.writingMode)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="writingModes"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.justifyContent)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="justifyContents"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.align)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="aligns"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.angle)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="angles"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.location)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="locations"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.lineStyle)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="lineStyles"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.fillType)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="fillTypes"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.repeatType)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="repeatTypes"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.uploadImage)}}
<g-upload-image
  v-model="{{ getPath path virtualPath }}"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.selectImage)}}
<g-select-image
  v-model="{{ getPath path virtualPath }}"
  :images="[]"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.echartsLablePosition)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="echartsLablePositions"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.animationEasing)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="animationEasings"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else}}
<span>--</span>
{{/if}}
