{{#if (eq config.component componentTypes.input)}}
<g-input
  v-model="{{ getPath path virtualPath }}"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.number)}}
<g-input-number
  v-model="{{ getPath path virtualPath }}"
  {{#unless config.InfiniteMin}}
  :min="{{config.min}}"
  {{/unless}}
  {{#unless config.InfiniteMax}}
  :max="{{config.max}}"
  {{/unless}}
  :step="{{config.step}}"
  {{#if config.suffix}}
  suffix="{{config.suffix}}"
  {{/if}}
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.color)}}
<g-color-picker
  v-model="{{ getPath path virtualPath }}"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.checkbox)}}
<el-checkbox
  v-model="{{ getPath path virtualPath }}"
/>
{{else if (eq config.component componentTypes.switch)}}
<el-switch
  v-model="{{ getPath path virtualPath }}"
/>
{{else if (eq config.component componentTypes.radio)}}
<el-radio-group
  v-model="{{ getPath path virtualPath }}"
>
  <el-radio-button
    v-for="em in {{{ enumsToTpl config.enums }}}"
    :key="em"
    :label="em"
  >
    \{{ em }}
  </el-radio-button>
</el-radio-group>
{{else if (eq config.component componentTypes.slider)}}
<g-slider
  v-model="{{ getPath path virtualPath }}"
  {{#unless config.InfiniteMin}}
  :min="{{config.min}}"
  {{/unless}}
  {{#unless config.InfiniteMax}}
  :max="{{config.max}}"
  {{/unless}}
  :step="{{config.step}}"
  {{#if config.suffix}}
  suffix="{{config.suffix}}"
  {{/if}}
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.select)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="[]"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
  disabled
/>
{{else if (eq config.component componentTypes.uploadImage)}}
<g-upload-image
  v-model="{{ getPath path virtualPath }}"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.selectImage)}}
<g-select-image
  v-model="{{ getPath path virtualPath }}"
  :images="[]"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.selectSuggest)}}
<g-select-suggest
  v-model="{{ getPath path virtualPath }}"
  :data="{{{enumsToTpl config.enums}}}"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (eq config.component componentTypes.legendIcon)}}
<g-select-shape
  v-model="{{ getPath path virtualPath }}"
  :shapes="{{config.component}}s"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else if (hasSelectOpts selectOpts config.component)}}
<g-select
  v-model="{{ getPath path virtualPath }}"
  :data="{{config.component}}s"
  {{#if (getInlineMode config.displayMode)}}
  inline="{{config.displayMode}}"
  label="{{config.alias}}"
  {{/if}}
/>
{{else}}
<span>--</span>
{{/if}}
