<template>
  <div class="setting-panel-gui">
    {{> prop-config-tpl
      configs=configs
      componentTypes=componentTypes
      selectOpts=selectOpts
      toggleCol=''
      level=1
      isFlat=false
    }}
  </div>
</template>

<script lang='ts' setup>
import { toRef, defineProps } from 'vue'
import {
  {{#each selectOpts}}
  {{this}},
  {{/each}}
} from '@/data/select-options'
import type { {{comName}} } from './{{fileName}}'

type Props = {
  com: {{comName}}
}
const props = defineProps<Props>()

const config = toRef(props.com, 'config')
</script>

<script lang="ts">
export default {
  name: 'V{{comName}}Prop',
}
</script>
